### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

### Maven Wrapper directory ###
.mvn/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
nb-gradle/
build/

### VS Code ###
.vscode/

### Sistema ###
.DS_Store
Thumbs.db