@import "tailwindcss";

@font-face {
  font-family: 'Prosto';
  src: url('./fonts/Prosto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Cores padronizadas com o Login e Dashboard */
  --color-indigo-500: #6165D7; /* A cor roxa exata que você definiu */
  --color-slate-950: #020617;
  --color-slate-900: #0f172a;
  
  /* Fonte Prosto para títulos */
  --font-prosto: "Prosto", sans-serif;
}

/* Configurações Globais */
@layer base {
  :root {
    --background: #020617; 
    --foreground: #f8fafc;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    margin: 0;
    /* Fonte sans para leitura geral na Dashboard */
    font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  /* Aplicar Prosto apenas em títulos específicos */
  h1, .font-prosto {
    font-family: var(--font-prosto);
  }
}

/* Scrollbar customizada para o tema Dark da Geizielle */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}